import(methods)

importFrom(graphics, plot, points, lines, rug, abline)
importFrom(Hmisc, approxExtrap)
importFrom(minqa, bobyqa)
importFrom(stats, optimize)

exportClasses(TssData)
exportClasses(TssNorm)
exportClasses(TssResult)

exportMethods(TssData)
exportMethods(normalize)
exportMethods(identify)

exportMethods(reads, regions, tss, parameters, timestamp, annotation)
exportMethods(start, end, counts, ratio, fit, delta, expect)

exportMethods(plot)

export(subtractExpectation)

