import(methods)

exportClasses(TssData)

exportMethods(TssData)

importFrom(Hmisc, approxExtrap)
importFrom(minqa, bobyqa)
importFrom(stats, optimize)

exportClasses(TssNorm)

exportMethods(normalize)

