useDynLib(TSSi)

import(methods)

import(BiocGenerics)
import(S4Vectors)
importFrom(graphics, plot, points, lines, rug, abline)
importFrom(Hmisc, approxExtrap)
importFrom(minqa, bobyqa)
importFrom(stats, optimize, optim, convolve, dpois)
importFrom(Biobase, selectSome)
importFrom(plyr, rbind.fill)
importFrom(IRanges, IRanges, RangedData)

exportClasses(TssData)
exportClasses(TssNorm)
exportClasses(TssResult)

exportMethods(segmentizeCounts)
exportMethods(normalizeCounts)
exportMethods(identifyStartSites)

exportMethods(reads, segments, tss, parameters, annotation, "[")
exportMethods(start, end, counts, ratio, fit, expect)
exportMethods(show, names)
exportMethods(readsAsRangedData, segmentsAsRangedData, tssAsRangedData)
exportMethods(plot)

export(subtractExpectation)
export(assessPoisson, assessGradPoisson)
